<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>968526464605-npfp2hbhvuv61ijncthsor8tcnrt44ve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968526464605-npfp2hbhvuv61ijncthsor8tcnrt44ve</string>
	<key>API_KEY</key>
	<string>AIzaSyAA7-DlN6D5jaIoinqv4CrdpN8cYnXVlkg</string>
	<key>GCM_SENDER_ID</key>
	<string>968526464605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yapp.digitalnomad</string>
	<key>PROJECT_ID</key>
	<string>digitalnomad-2fab3</string>
	<key>STORAGE_BUCKET</key>
	<string>digitalnomad-2fab3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:968526464605:ios:2f617e2ba8a76f0f</string>
	<key>DATABASE_URL</key>
	<string>https://digitalnomad-2fab3.firebaseio.com</string>
</dict>
</plist>
